<div [formGroup]="accountFormCommon" class="row" #accountFormCommon>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="form-group row">
          <label for="accountName" class="col-md-3 col-form-label">Name:</label>
          <div class="col-md-9">
            <input
              id="accountName"
              type="text"
              formControlName="name"
              placeholder="Unix account name"
              class="form-control"
              minlength="2"
              maxlength="32"
              required
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="form-group row">
          <label for="createdAt" class="col-md-3 col-form-label"
            >Created at:</label
          >
          <div class="col-md-9">
            <input
              id="createdAt"
              type="text"
              formControlName="createdAt"
              class="form-control"
            />
            <div class="helper-box text-muted font-weight-light">
              <small>
                {{
                  account?.createdAt
                    | date: 'EEEE, MMMM d, y, H:mm:ss zzzz':'Europe/Paris'
                }}
              </small>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="updatedAt" class="col-md-3 col-form-label"
            >Updated at:</label
          >
          <div class="col-md-9">
            <input
              id="updatedAt"
              type="text"
              formControlName="updatedAt"
              class="form-control"
              readonly
            />
            <div class="helper-box text-muted font-weight-light">
              <small>
                {{ user?.updatedAt | date: 'EEEE, MMMM d, y, H:mm:ss zzzz' }}
              </small>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="managerId"
            >Select Manager</label
          >
          <div class="col-md-9">
            <select
              id="managerId"
              formControlName="managerId"
              class="form-control"
            >
              <option [ngValue]="null">Is Manager</option>
              <option *ngFor="let manager of managers" [ngValue]="manager.id">
                {{ manager.username }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-3 col-form-label">Active</div>
          <div class="col-md-9 col-form-label">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="isActive"
                formControlName="isActive"
              />
              <label for="isActive">Is Active</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
