<form (ngSubmit)="onSubmit()">
  <app-accounts-form></app-accounts-form>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <button
                class="btn btn-md btn-block btn-danger"
                (click)="onCancel()"
              >
                <i class="fa fa-lg fa-close"></i>
                Cancel
              </button>
            </div>
            <div class="col-6">
              <button
                type="submit"
                class="btn btn-md btn-block btn-success"
                [disabled]="!formEdited.length || userForm.status == 'INVALID'"
              >
                <i class="fa fa-lg fa-check"></i>
                Submit
              </button>
            </div>
          </div>

          <!-- <p>form value {{ f.value | json }}</p>
          <p>{{ formChanged }}</p> -->
        </div>
      </div>
    </div>
  </div>
</form>
