<div class="animated fadeIn">
  <form
    [formGroup]="userForm"
    name="userForm"
    (ngSubmit)="onSubmit()"
    #f="ngForm"
  >
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="form-group row">
              <label for="username" class="col-md-3 col-form-label"
                >Username:</label
              >
              <div class="col-md-9">
                <input
                  id="username"
                  type="text"
                  formControlName="username"
                  placeholder="username"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      username.invalid && (username.dirty || username.touched),
                    'is-valid':
                      username.valid &&
                      (username.dirty || username.touched) &&
                      username.value != user?.username
                  }"
                  minlength="2"
                  maxlength="32"
                  required
                />
                <div
                  *ngIf="
                    username.invalid && (username.dirty || username.touched)
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="username.errors?.required">
                    Username is required.
                  </div>
                  <div *ngIf="username.errors?.minlength">
                    Username must be at least 2 characters long.
                  </div>
                  <div *ngIf="username.errors?.maxlength">
                    Username must be maximum 32 characters long.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-md-3 col-form-label">Email:</label>
              <div class="col-md-9">
                <input
                  id="email"
                  type="text"
                  formControlName="email"
                  placeholder="email@example.com"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      email.invalid && (email.dirty || email.touched),
                    'is-valid':
                      email.valid &&
                      (email.dirty || email.touched) &&
                      email.value != user?.email
                  }"
                />
                <div
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="alert alert-danger"
                >
                  <div *ngIf="email.errors">
                    <div *ngIf="email.errors?.required">Email is required.</div>
                    <div *ngIf="email.errors?.email">
                      Please enter a valid email.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="phoneLandline" class="col-md-3 col-form-label"
                >Phone:</label
              >
              <div class="col-md-9">
                <input
                  id="phoneLandline"
                  type="text"
                  formControlName="phoneLandline"
                  placeholder="Landline"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="phoneMobile" class="col-md-3 col-form-label"
                >Mobile:</label
              >
              <div class="col-md-9">
                <input
                  id="phoneMobile"
                  type="text"
                  formControlName="phoneMobile"
                  placeholder="Mobile"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="info" class="col-md-3 col-form-label">Info:</label>
              <div class="col-md-9">
                <textarea
                  id="info"
                  formControlName="info"
                  placeholder="Extra informations..."
                  class="form-control"
                  >{{ info }}</textarea
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="form-group row">
              <label for="createdAt" class="col-md-3 col-form-label"
                >Created at:</label
              >
              <div class="col-md-9">
                <input
                  id="createdAt"
                  type="text"
                  formControlName="createdAt"
                  class="form-control"
                  readonly="true"
                />
                <div class="helper-box text-muted font-weight-light">
                  <small>
                    {{
                      user?.createdAt
                        | momentDate
                          : 'EEEE, MMMM d, y, H:mm:ss zzzz'
                          : 'Europe/Paris'
                    }}
                  </small>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="updatedAt" class="col-md-3 col-form-label"
                >Updated at:</label
              >
              <div class="col-md-9">
                <input
                  id="updatedAt"
                  type="text"
                  formControlName="updatedAt"
                  class="form-control"
                  readonly="true"
                />
                <div class="helper-box text-muted font-weight-light">
                  <small>
                    {{
                      user?.updatedAt
                        | momentDate
                          : 'EEEE, MMMM d, y, H:mm:ss zzzz'
                          : 'Europe/Paris'
                    }}
                  </small>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="managerId"
                >Select Manager</label
              >
              <div class="col-md-9">
                <select
                  id="managerId"
                  formControlName="managerId"
                  class="form-control"
                >
                  <option [ngValue]="null">Is Manager</option>
                  <option
                    *ngFor="let manager of managers"
                    [ngValue]="manager.id"
                  >
                    {{ manager.username }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3 col-form-label">Active</div>
              <div class="col-md-9 col-form-label">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="isActive"
                    formControlName="isActive"
                  />
                  <label for="isActive">Is Active</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <button
                  class="btn btn-md btn-block btn-danger"
                  (click)="onCancel()"
                >
                  <i class="fa fa-lg fa-close"></i>
                  Cancel
                </button>
              </div>
              <div class="col-6">
                <button
                  type="submit"
                  class="btn btn-md btn-block btn-success"
                  [disabled]="
                    !formEdited.length || userForm.status == 'INVALID'
                  "
                >
                  <i class="fa fa-lg fa-check"></i>
                  Submit
                </button>
              </div>
            </div>

            <!-- <p>form value {{ f.value | json }}</p>
              <p>{{ formChanged }}</p> -->
          </div>
        </div>
      </div>
    </div>
  </form>

  <div
    bsModal
    #confirmLeaveModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="confirmLeaveLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm Leave</h4>
          <button
            type="button"
            class="close"
            (click)="confirmLeaveModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="confirmLeaveModal.hide()"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
