// Here you can add other styles

.sidebar-nav .nav-link.active {
  cursor: default;
}


/**
 * No margin (padding) on small device
 */

// @media (max-width: @screen-md-max) {
@media (max-width: 480px) {
  .main .container-fluid {
      padding: 0;
      // overflow-x: hidden;
  }
}


button[disabled] {
  cursor: not-allowed;
}
