<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th style="width: 8em">User</th>
            <th>Account</th>
            <th>Domain</th>
            <th>Host</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let user of hmUsers$ | async; let userIndex = index"
          >
            <ng-container
              *ngFor="
                let account of user?.accounts || [emptyName];
                let accountIndex = index
              "
            >
              <ng-container
                *ngFor="
                  let domain of account?.domains || [emptyName];
                  let domainIndex = index
                "
              >
                <ng-container
                  *ngFor="
                    let virtualHost of domain?.virtualHosts || [emptyName];
                    let vhIndex = index
                  "
                >
                  <tr [ngClass]="{ 'text-muted': !user.isActive }">
                    <td
                      *ngIf="
                        accountIndex == 0 && domainIndex == 0 && vhIndex == 0
                      "
                      [attr.rowspan]="countUserVirtualHosts(user)"
                    >
                      <a [routerLink]="['/user-editor', user.id]">{{
                        user.username
                      }}</a>
                      <ng-container *ngIf="user.manager">
                        <div>
                          <small>Manager: {{ user.manager?.username }}</small>
                        </div>
                      </ng-container>

                      <span *ngIf="!user.isActive; else addAccount"
                        ><i class="fa fa-times-circle-o fa-sm"></i
                      ></span>
                      <ng-template #addAccount>
                        <div>+ Account</div></ng-template
                      >
                    </td>
                    <td
                      *ngIf="domainIndex == 0 && vhIndex == 0"
                      [attr.rowspan]="countAccountVirtualHosts(account)"
                      [ngClass]="{
                        'text-muted':
                          account.disabledAt ||
                          (account.expiresAt && now > account.expiresAt)
                      }"
                    >
                      <a [routerLink]="['/accounts/edit', account.id]">
                        {{ account.name }}
                      </a>
                      <span
                        *ngIf="
                          account.disabledAt ||
                          (account.expiresAt && now > account.expiresAt)
                        "
                        ><i class="fa fa-times-circle-o fa-sm"></i
                      ></span>
                      <br />
                      + Domain
                    </td>
                    <td
                      *ngIf="vhIndex == 0"
                      [attr.rowspan]="domain.virtualHosts.length || 1"
                      [ngClass]="{
                        'text-muted':
                          domain.disabledAt ||
                          account.disabledAt ||
                          (account.expiresAt && now > account.expiresAt)
                      }"
                    >
                      {{ domain.name }}
                      <span *ngIf="domain.disabledAt"
                        ><i class="fa fa-times-circle-o fa-sm"></i
                      ></span>

                      <i
                        *ngIf="domain.mailService"
                        class="fa fa-envelope-open-o"
                      ></i>
                      <br />
                      + VirtualHost
                    </td>
                    <td
                      [ngClass]="{
                        'text-muted':
                          virtualHost.disabledAt ||
                          domain.disabledAt ||
                          account.disabledAt ||
                          (account.expiresAt && now > account.expiresAt)
                      }"
                    >
                      {{ combineFqdn([virtualHost.name, domain.name]) }}
                      <span *ngIf="virtualHost.disabledAt"
                        ><i class="fa fa-times-circle-o fa-sm"></i
                      ></span>

                      <ng-container *ngIf="virtualHost.phpFpmPool">
                        <small>({{ virtualHost.phpFpmPool.id }})</small>
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
      <!-- <nav>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav> -->
      <!--/.col-->
    </div>
  </div>
</div>
